<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css">
    <script type="text/javascript" src="../js/d3.min.js"></script>

</head>
<body>
    <header class="header-main">
        <section class="header-box">
            <h1 class="current-page">Portal</h1>
            <p class="user-role-display">Logged In As: <span class="user-role">Admin</span></p>
        </section>
    </header>
    <main>
        <aside class="nav-sidebar">
            <ul>
                <li><button onclick="window.location.href = '/'">Home</button></li>
                <li><button onclick="window.location.href = 'finance'">Finance</button></li>
                <li><button onclick="window.location.href = 'incomes'">Incomes</button></li>
                <li><button onclick="window.location.href = 'incometypes'">Income Types</button></li>
                <li><button onclick="window.location.href = 'expenses'">Expenses</button></li>
                <li><button onclick="window.location.href = 'expensetypes'">Expense Types</button></li>
                <li><button onclick="window.location.href = 'assets'">Assets</button></li>
                <li><button onclick="window.location.href = 'assettypes'">Asset Types</button></li>
                <li><button onclick="window.location.href = 'liabilities'">Liability</button></li>
                <li><button onclick="window.location.href = 'liabilitytypes'">Liability Types</button></li>
            </ul>
        </aside>

        <nav class="user-control-navbar">
            <button>Logout</button>
            <button>Setup</button>
        </nav>

        <section class="page-content">
            <section class="table-display">
                
            </section>

            <section class="graph-display"  id="graph-container"></section>
            <script type="text/javascript" src="../js/graph.js"></script>
            
            <section class="future-component-space">
                <h2>Users List</h2>
                    <ul>
                        <% users.forEach(user => { %>
                            <li><%= user.name %> (<%= user.email %>)</li>
                        <% }) %>
                    </ul>
            </section>
        </section>
    </main>
</body>
</html>