<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget Tracker</title>
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/financialtablestyles.css">

</head>
<body>
    <header class="header-main">
        <section class="header-box">
            <h1 class="current-page">Asset Types</h1>
            <p class="user-role-display">Logged In As: <span class="user-role">Admin</span></p>
        </section>
    </header>
    <main>
        <aside class="nav-sidebar">
            <ul>
                <li><button onclick="window.location.href = '/'">Home</button></li>
                <li><button onclick="window.location.href = 'finance'">Finance</button></li>
                <li><button onclick="window.location.href = 'incomes'">Incomes</button></li>
                <li><button onclick="window.location.href = 'incometypes'">Income Types</button></li>
                <li><button onclick="window.location.href = 'expenses'">Expenses</button></li>
                <li><button onclick="window.location.href = 'expensetypes'">Expense Types</button></li>
                <li><button onclick="window.location.href = 'assets'">Assets</button></li>
                <li><button onclick="window.location.href = 'assettypes'">Asset Types</button></li>
                <li><button onclick="window.location.href = 'liabilities'">Liability</button></li>
                <li><button onclick="window.location.href = 'liabilitytypes'">Liability Types</button></li>
            </ul>
        </aside>

        <nav class="user-control-navbar">
            <button>Logout</button>
            <button>Setup</button>
        </nav>

        <section class="page-content">
            <script>
                function selectAssetType(button) {
                    //const row = button.closest('tr');
                    const assetTypeID = button.getAttribute("data-AssetTypeID");
                    const name = button.getAttribute("data-Name");
                    const description = button.getAttribute("data-Description");
        
                    document.getElementById('hiddenAssetTypeID').value = assetTypeID;
                    document.getElementById('editName').value = name;
                    document.getElementById('editDescription').value = description;
                }
            </script>
            <div>
                <form action="" 
                    <input type="date">
                </form>
                <form action=""></form>
                    <button>Refresh</button>
                    <button>Apply</button>
                </form>
            </div>
            <div class="scrollable-table">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <% finCols.forEach(finCol => { %>
                            <th><%= finCol.Name %></th>    
                            <% }) %>
                        </tr>
                    </thead>
                    <tbody>
                        <% 
                        colIndex=0;
                        prevLineDate = "";
                        currentLineDate = "";
                        finLines.forEach(finLine => {
                            currentLineDate = String(finLine.LineDate);
                            if(currentLineDate != prevLineDate && colIndex > 0) {
                                while(colIndex < finCols.length) {
                                colIndex++;
                                %><td></td><%
                                }
                                %></tr><%
                                colIndex = 0;
                            }
                            bFound = false;
            
                            while(colIndex < finCols.length && bFound == false) { 
                                if(colIndex == 0) {
                            %>
                            <tr>
                                <td><%= finLine.LineDate %></td>            
                            <%  } %>
                                <td>
                                <%if(finCols[colIndex].AssetID == finLine.AssetID && finCols[colIndex].LiabilityID == finLine.LiabilityID) {
                                    bFound = true;
                                %>
                                <%= finLine.LineBalance %>
                                <% } 
                                colIndex++;
                                %>
                                </td>
                            <% }
                            prevLineDate = currentLineDate;
                        %>
                    <% }) %>
                    <% while(colIndex < finCols.length) {
                        colIndex++;
                              %><td>
                                </td><%
                        }
                        %></tr>             
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>